@model SGV.Models.Softwares
@using Microsoft.AspNetCore.Http
@using System.Globalization
@{
    ViewData["Title"] = "Visualizar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
    $(document).ready(function () {
        $("input.valor").maskMoney({ showSymbol: true, symbol: "R$", decimal: ".", thousands: "," });
    });
</script>
<!--Início do form de cadastro de usuários-->
<div class="conteudo-inf-pessoais">
    <div class="primeiro-box-cadastrar">
        <div class="card">
            <form method="post" action="/softwares/editar">
                <div class="card-body">
                    <h4 class="card-title">Informações do Software/Licença</h4>
                    <div class="form-group row">
                        <label for="fname"
                               class="col-sm-3 text-end control-label col-form-label">Nome</label>
                        <div class="col-sm-9">
                            <input hidden value="@Model.ID" id="id" name="id">
                            <input readonly type="text" class="form-control" id="nome" value="@Model.Nome">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="lname" class="col-sm-3 text-end control-label col-form-label">
                            Responsável
                        </label>
                        <div class="col-sm-9">
                            <input readonly type="text" class="form-control" id="responsavel" value="@Model.Responsavel">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="lname" class="col-sm-3 text-end control-label col-form-label">
                            Valor
                        </label>
                        <div class="col-sm-9">
                            <input readonly type="text" class="valor" id="valor" value="@Model.Valor.ToString("F2", CultureInfo.InvariantCulture)">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="lname" class="col-sm-3 text-end control-label col-form-label">
                            Data da Compra
                        </label>
                        <div class="col-sm-9">
                            <input readonly type="text" class="form-control" id="datacompra" value="@Model.DataCompra.ToShortDateString() ">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="email1"
                               class="col-sm-3 text-end control-label col-form-label">Validade</label>
                        <div class="col-sm-9">
                            <input readonly type="text" class="form-control" id="validade" value="@Model.Validade">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="email1"
                               class="col-sm-3 text-end control-label col-form-label">Data de vencimento</label>
                        <div class="col-sm-9">
                            <input readonly type="text" class="form-control" id="vencimento" value="@Model.Vencimento.ToShortDateString()">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="cono1"
                               class="col-sm-3 text-end control-label col-form-label">Finalidade</label>
                        <div class="col-sm-9">
                            <textarea readonly class="form-control">@Model.Finalidade</textarea>
                        </div>
                    </div>
                </div>
                <div class="border-top">
                    <div class="card-body">
                        <a href="/softwares/" class="btn btn-success text-white">Voltar</a>
                        <a href="/softwares/editar/@Model.ID" class="btn btn-info">Editar</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


